<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-facebook-icon-png-image_3584864.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    <%= link_to 'Wuup', root_path, class:'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'Productos', products_path, class: 'nav-link'%>
                </li>
                <li class="nav-item">
                    <%= link_to 'Categorias', categories_path, class: 'nav-link'%>
                </li>
                <li class="nav-item">
                    <%= link_to 'Vendedores', sellers_path, class: 'nav-link'%>
                </li>
                <li class="nav-item">
                    <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete, class:'btn btn-outline-danger'%>
                </li>
            <% else %>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            <% end %>
        </ul>
    </div>
</nav>
